.modal, .modal-body{
	& .modal-dialog{
		max-width: 1000px;
	}
    & .text{
        font-size: $size_texts;
        font-weight: 400;
	}
	& .title{
		text-align: left;
        font-size: $size_pretitle;
    }
}

// Naver Modal Info

.naver-modal{
    & .title{
        font-size: $size_pretitle;
    }
    & .field-info{
        font-size: $size_texts;
    }
    & .info{
        font-weight: 400;
    }
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }
  
  .modal-container {
    margin: auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    @include media-breakpoint-up(md){
        width: 700px;
    }
    @include media-breakpoint-down(sm){
        margin-left: 15px;
        margin-right: 15px;
    }
  }

.close-button{
	background-color: transparent;
}