// Colors 
$color_default: #212121;
$color_secondary: #424242;



// Fontsizes

// $size_pretitle: 24px;
// $size_title: 36px;
// $size_subtitle: 32px;
// $size_texts: 16px;
// $size_small: 14px;
// $size_big: 28px;

// Font Family

$font_default: 'Montserrat';
